POSTGRES_DB=clexp_db
POSTGRES_USER=clexp
POSTGRES_PASSWORD=clexp

SPRING_PROFILES_ACTIVE=docker
SPRING_R2DBC_URL=r2dbc:postgresql://postgres:5432/clexp_db
DB_USERNAME=clexp
DB_PASSWORD=clexp
JWT_SECRET=yourjwtsecret
JWT_ACCESS_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000